### 1. 출력함수(print)

In [5]:
print("Hello Python")
print('Hello Python')
print(25)
print(3.14)
print(True)

Hello Python
Hello Python
25
3.14
True

#### 참고. escape 코드

문자열 내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
- \n : 한 줄 개행
- \t : 탭(8칸 공백)

In [6]:
print("Hello \n Python")
print("Hello \t Python")

Hello
 Python
Hello 	 Python

#### 소수점 출력하기

- {0:3d} : 0번째, 3글자, d(정수)
- {1:3.2f} : 첫번째, 3글자, 소수점 2자리, f(실수)

In [26]:
print("이름: {}, 학점 : {}".format("김형윤",4.5))
print("Test1 : {0:3d}, Test2 : {1:3.2f}".format(369, 623.4567))

이름: 김형윤, 학점 : 4.5
Test1 : 369, Test2 : 623.46

## 2.  주석(comment)

- 코드에서 #으로 시작하는 뒷 부분을 실행하지 않음
- 파이썬 소스코드가 실행 시 #은 무시하고 실행
- 개발자(사람)가 보기 위한 용도로 사용
- 개발 시 주석을 잘 활요하는 사람이 좋은 개발자
- 코드 뒤에 주석 쓸 때 2번 띄기

In [27]:
student_num = "231299"  # 학번

# 학번 출력
print(student_num)

231299

## 3. 자료형 (type)

1. 문자열(string) : "Hello", 'hi' ## 전화번호도 문자열로 받음
2. 정수형 숫자(int) : 3, 0, -1
3. 실수형 숫자(float) : 3.1, 0.0, -2.2
4. 논리형(boolean) : True, False ## 첫글자는 무조건 대문자!!

- type() 함수를 사용해서 자료형 확인 가능

In [32]:
print(type(3.14))
print(type("Hi"))

<class 'float'>
<class 'str'>

형변환(Type Casting)

- 형변환을 사용하면 자료형을 원하는 type으로 변환 가능

1. int() : () 안의 값을 정수형으로 변환
2. float() : () 안의 값을 실수형으로 변환
3. str() : () 안의 값을 문자형으로 변환

In [61]:
# int("Hello") (x)
# float("Hi") (x)

# 실수형 -> 정수형 (o)
a = 3.14
print(int(a))

# 정수형 -> 실수형 (o)
b = 3
print(float(b))

# 문자열 정수형 - > 정수형 (o)
c = "3"
print(int(c))

TypeError: 'float' object is not callable

In [55]:
print(type(3.14))

<class 'float'>