## 컬렉션 타입

- 변수: 하나에 값을 저장할 수 있는 메모리 공간
- 컬렉션 타입: 다양한 자료형의 여러값을 저장 가능
- list,dict, tuple, set

1.list[]
- 시퀀스 자료형(연속 된 값 저장) 정렬가능
- mutable (생성 후 변경 가능)
- index 사용 slicing 가능
- packing과 unpacking 가능
- 멤버함수: append() extend() insert() removea() pop() sort() 등등

2.tuple()
- 시퀀스 자료형(연속 된 값 저장 ) 정렬불가능
- immutable (생성 후 변경 불가능)
- index 사용 slicing 가능
- () 생략 가능
- 1개의 원소만 가지는 경우, 사용 (1,) 콤마를 붙여야함

3.dict{key:value}
- key, value 한 쌍으로 구성된 구조
- key 를 통해서 value 접근
- KEy 중복 불가 , value  중복가능
- 순서 없음 index 없음
- 멤버함수 : update() fet() keys() values() items()

4.set{}
- dict type 에서 key만 활용하는 데이터 구조로 이해
- 수학 집합과 같은 개념
- 순서 없음 index 없음
- set 구조 내 중복값 허용 안함
- 멤버함수 : union() intersetion() difference() 등

In [2]:
# list 초기화
# 1. []
# 2. list()

list_a = []
list_b = [1,2,3]
list_c = ["cnu", 3.14, [1,2,3]]

In [3]:
str_a = "Hello"
list_d = list(str_a) # 문자열 -> list 형변환
print(list_d)

tuple_a = (1,2,3)
list_e = list(tuple_a)
print(list_e)

['H', 'e', 'l', 'l', 'o']
[1, 2, 3]

In [4]:
list_f = [1,2,3,4,5]
print(list_f[3])
print(list_f[1:3])
print(list_f[:2])

4
[2, 3]
[1, 2]

In [5]:
# append() : list 마지막에 값을 추가
a = [1,2,3]
a.append(10)
print(a)

[1, 2, 3, 10]

In [6]:
# insert() :list 원하는 인덱스 위치에 값을 추가

a = [1,2,3]
a.insert(1,99)
print(a)

[1, 99, 2, 3]

In [13]:
# extend() : list 와 list 병합
a = [1,2,3]
b = [4,5,6]

# a.append(b)  X -> b 를 변수 하나로 봄

a +=b  # a = a + b
# a -=b
# a *=b
print(a)

a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [14]:
# remove() : 값을 통해서 삭제(인덱스 x)
a = [1, 2, 3]
a.remove(2)
print(a)

[1, 3]

In [16]:
# pop() : 인덱스를 통해서 삭제(+ 삭제 전 값을 변수에 저장 가능)
a = [4, 5, 6]
# a.pop(1) 이것도 가능
b = a.pop(2)
print(a)
print(b)

[4, 5]
6

In [17]:
# index() : 찾고자하는 값의 인덱스 번호 출력 
a = [8, 10, 20, 5, 3]
print(a.index(20))

2

In [22]:
email = "yoonkim8566@naver.com"

email_idx = email.index("@")
email[:email.index("@")]
email[:email_idx]

'yoonkim8566'

In [23]:
# in : list내에 해당 값이 존재(True, False)
a = [1, 2, 3]
print(3 in a)
print(5 in a)

True
False

In [28]:
# sort() and sorted() : list 정렬
# - sort() : 원본 list 정렬
# - sorted() : list 복제 후 정렬
a = [1, 36, 3, 4, 45, 6, 90, 8, 15, 10]

b = sorted(a)  # 정렬 default : 오름차순
print(a)
print(b)
print("=" * 50)
a.sort(reverse=True)  # 정렬 : 내림차순 게시판에서 많이 사용함
print(a)

[1, 36, 3, 4, 45, 6, 90, 8, 15, 10]
[1, 3, 4, 6, 8, 10, 15, 36, 45, 90]
==================================================
[90, 45, 36, 15, 10, 8, 6, 4, 3, 1]

### 2. tuple

In [31]:
a = [1, 2, 3]  # list type
b = (1, 2, 3)  # tuple type
c = 5, 6, 7    # tuple type

print(type(a))
print(type(b))
print(type(c))

a[0] = 99
print(a)

b[0] = 99  # 에러가 정상 튜플은 불가능
print(a)

<class 'list'>
<class 'tuple'>
<class 'tuple'>
[99, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [32]:
# packing amd unpacking
# - list와 tuple 가능
# - [], () -> 값을 묶음(packing)

tuple_num = (1, 2, 3)  # packing
a, b, c = tuple_num    # unpacking
print(a, b, c)

1 2 3

### 연습문제
변수 a와 b의 값을 교환하세요

In [38]:
a = 5
b = 9

# 코드 작성
# 1. 임시변수 사용
# temp = a
# a = b
# b = temp
# 2.tuple() 사용
a, b = b, a

print(a)  # 출력 9
print(b)  # 출력 5

9
5

### 3. dict

In [39]:
dict_a = {"Korea" : "Seoul",
          "Canada" : "Ottawa",
          "Usa" : "washington D.C"}
dict_b = {0:1, 1:6, 2:4, 3:9}
print(dict_a["Canada"])
print(dict_b[3])

Ottawa
9

In [45]:
import pprint
dict_a = {"Korea" : "Seoul",
          "Canada" : "Ottawa",
          "Usa" : "washington D.C"}

# 값을 입력 -> key 값이 x(입력), key 값이 o(수정)
# key 값은 중복 안되지만 value 값은 중복 가능!!
dict_a["Japan"] = "Tokyo"
dict_a["Japan"] = "kyoto"
dict_a["Japan2"] = "kyoto"
# print(dict_a)
pprint.pprint(dict_a)

{'Canada': 'Ottawa',
 'Japan': 'kyoto',
 'Japan2': 'kyoto',
 'Korea': 'Seoul',
 'Usa': 'washington D.C'}

In [67]:
# update() : dict와 dict 병합
a = {
    "a" : 1,
    "b" : 2
}
b = {
    "a" : 9,
    "d" : 4,
    "e" : 5 
}
a.update(b)
print(a)

{'a': 9, 'b': 2, 'd': 4, 'e': 5}

In [68]:
# pop() : dict 항목 삭제
c = a.pop("a")
print(a)
print(c)

{'b': 2, 'd': 4, 'e': 5}
9

In [65]:
# 값 접근
print(a["e"])
#print(a["f"])
print(a.get("f"))

5
None

In [66]:
# in
print("b" in a)

True

In [69]:
# clear() : dict 초기화
print(a)
a.clear()
print(a)

{'b': 2, 'd': 4, 'e': 5}
{}

In [14]:
# keys() : key 값만 반환
#values() : value값만 반환
#items() : key, value를 튜플로반환 

a = {
    "a" : 1,
    "b" : 2
}

# print(a)
# print(a.keys())
# print(type(a.keys()))
# print(a.values())
# print(type(a.values()))
# print(a.items())
# print(type(a.items()))

# print(list(a.keys()))
# print(type(list(a.keys())))

print(list(a.items()))

val = list(a.items())
print(type(val))
print(type(val[0]))

[('a', 1), ('b', 2)]
<class 'list'>
<class 'tuple'>

### 4. set

In [21]:
list_z = [1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5]
print(list_z)

set_a = set(list_z)
print(set_a)  ## 중복값 제거할 때 많이 사용

# set? or dict?
j = {}  ## 이건 dict  
p = {1, 2, 3}  ## 이건 set
print(type(j))
print(type(p))

[1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
<class 'dict'>
<class 'set'>

In [19]:
a = {1, 2, 3}
b = {2, 3, 4}


## 시험에는 안나옴 
print(a.union(b))  # 합집합
print(a.intersection(b))  # 교집합
print(a.difference(b))   # 차집합
print(a.issubset(b))  # 부분집합(b가 {1,2,3,4}이면)  true 반환

{1, 2, 3, 4}
{2, 3}
{1}
False